<div class="container" style="padding-top:40px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">



          <form [formGroup]="addForm" (ngSubmit)="onSubmit()" novalidate>
            <h1 style="text-align:center">Create User</h1>

            <div class="form-group">
              <label for="username">Full Name<span style="color:red">*</span> :</label>
              <input type="text" formControlName="fullName" placeholder="Full Name" name="fullName" class="form-control" id="fullName" required>
            </div>
            <div class="form-group">
              <label for="username">User Name<span style="color:red">*</span> :</label>
              <input type="text" formControlName="userName" placeholder="User Name" name="userName" class="form-control" id="userName" required>

            </div>
            <div class="form-group">
                <label for="username">Password:</label>
                <input type="password" formControlName="password" placeholder="Password" name="password" class="form-control" id="password" #pwd>

                <app-password-strength-bar [passwordToCheck]="pwd.value" [barLabel]="barLabel">
                </app-password-strength-bar>

            </div>
            <div class="form-group">
              <label for="username">Email<span style="color:red">*</span> :</label>
              <input type="text" formControlName="email" placeholder="Email" name="email" class="form-control" id="email" required>
            </div>

            <div class="form-group">
              <label for="username">Phone<span style="color:red">*</span> :</label>
              <input type="text" class="form-control" placeholder="Phone" formControlName="phone" name="phone" required>
            </div>
            <div class="form-group">
              <label for="username">Address:</label>
              <input type="text" class="form-control" placeholder="Address" formControlName="address" name="address">
            </div>

            <div class="form-group">
              <label for="username">Role<span style="color:red">*</span> :</label>
              <select formControlName="role" class="form-control" placeholder="Role" name="role" required>
                <option value="Admin" selected="selected">Admin</option>
                <option value="Editor">Editor</option>
                <option value="Reader">Reader</option>
              </select>
            </div>
            <div class="form-group">
              <label for="username">Status<span style="color:red">*</span> :</label>
              <select formControlName="status" class="form-control" placeholder="Status" name="status" required>
                <option value="Active" selected="selected">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
            </div>
            <div>
              <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">
                {{errorMessage}}
              </p>
            </div>
            <!--<button type="submit" class="btn btn-block btn-success">Submit</button>-->


          </form>
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-block btn-success" style="width:100px" (click)="onSubmit()" >Submit</button>
            </div>
            <div class="col-6 text-right">
              <button class="btn btn-danger" style="width:100px" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

